<div class="modal-header">
    <h2 class="modal-title">Add Route</h2>
</div>
<div class="modal-body">
    <div class="form-group">
        <label for="template">URL Template</label>
        <input type="text" class="form-control" id="template">
        <label>Execute on access</label>
        <ui-codemirror
                ui-codemirror-opts="editorOptions"
                ng-model="code"
                id="exec"></ui-codemirror>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary">OK</button>
    <button class="btn">Cancel</button>
</div>